@model List<WebModels.Vehicle>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
<script type="text/javascript">

    function deletes_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
    $(document).ready(function () {
        //if (screen.width > 1500) {
        //    top.winsetup("Xuất file Quản lý xe", 1440 * 0.3, screen.height * 0.06, true);
        //} else if (screen.width < 400) {
        //    top.winsetup("Xuất file Quản lý xe", screen.width * 0.8, screen.height * 0.1, true);
        //}
        //else {
        //    top.winsetup("Xuất file Quản lý xe", screen.width * 0.3, screen.height * 0.08, true);
        //}
        top.winsetup("Xuất file", 400, 75, true);
        if (screen.width < 576) {
            top.winsetup("Xuất file", screen.width * 0.8, screen.height * 0.08, true);
        }
    });
</script>
@if (Model != null)
{
    using (Html.BeginForm("ExportExcel", "ManageCar", FormMethod.Post, new { @class = "form-horizontal fix" }))
    {
        @*<p>Bạn có muốn xuất file Excel?</p>*@

        <div class="alert alert-info">
            @Html.Raw("Bạn có muốn xuất file Excel?") <br />
            @foreach (var item in Model)
            {
                @Html.Hidden("[" + Model.IndexOf(item) + "].WeightID", @item.WeightID)
                @Html.Hidden("[" + Model.IndexOf(item) + "].PartnerID", @item.PartnerID)
                @*@Html.Hidden("[" + Model.IndexOf(item) + "].Partner", @item.Partner)*@
                @Html.Hidden("[" + Model.IndexOf(item) + "].ID", @item.ID)
                @Html.Hidden("[" + Model.IndexOf(item) + "].CarOwerName", @item.CarOwerName)
                @Html.Hidden("[" + Model.IndexOf(item) + "].Mobile", @item.Mobile)
                @Html.Hidden("[" + Model.IndexOf(item) + "].NumberPlate", @item.NumberPlate)
            }
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Xác nhận</button>
        </div>
        @Html.AntiForgeryToken()
    }
}

