@model RepairVehicle
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("UploadExcel", "ManageRepair", FormMethod.Post, new { enctype = "multipart/form-data", @id = "uploadExcel" }))
{
    <div>
        <p class="red-text custom-warn-upload">- Việc thực hiện có thể mất thời gian vui lòng đợi trong giây lát!</p>
    </div>
    <div class="control-group lh-20">
        Lựa chọn file để upload:
        <input class="file-image" name="image" type="file" />
    </div>
    <p class="control-group red-text">@ViewBag.check</p>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit" name="submit" value="Upload" onclick="showLoading()"><i class="icon-save"></i>Nhập</button>
        <button class="btn btn-primary" type="submit" name="submit" value="Download"><i class="icon-download-alt"></i>Tải file mẫu</button>
    </div>
}

<div class="loader" style="display:none"></div>

@using (Html.BeginForm("DeleteFile", "ManageRepair", FormMethod.Post, new { @id = "delete", enctype = "multipart/form-data", @class = "form-horizontal fix" }))
{
    @Html.HiddenFor(m => m.dataString)

    <input id="deleteFile" type="submit" style="display: none; ">

}
@*<form method="get" action="@ViewBag.pathFileName" style="display: none;">
        <button type="submit" id="test">Download!</button>
    </form>*@


<script>
     function downLoadFile() {
        $("div[class='loader']").hide();
        $("#uploadExcel").css("filter", "contrast(100%)");
        var url = top.window.location.href;
        if (url.toLowerCase().includes("repairdetail")) {
            top.$("#grid").data("kendoGrid").dataSource.read();
        }

        $("input[name='dataString']").val('@ViewBag.pathFileName');
        $("#deleteFile").click();

    };

    $('.file-image').change(function (e) {
        var files = this.files;
        if (files.length > 0) {
            var i = 0;
            var reader = new FileReader();
            reader.readAsDataURL(files[i]);
            reader.onloadend = function (e) {
                var result = e.target.result;
                if (result != null) {
                }
            }
        }
    });

    // A $( document ).ready() block.
    //$(document).ready(function () {
    //    setInterval(function () {
    //        $.ajax({
    //            url: "/admin/DrivePlan/GetUploadProgress",
    //            type: "GET",
    //            dataType: "json",
    //            async: false,
    //            success: function (data) {
    //                console.log(data);
    //            }
    //        });
    //        console.log('0');
    //    }, 1000);
    //});

    function showLoading() {
        $("div[class='loader']").show();
        $("#uploadExcel").css("filter", "contrast(60%)");
    }

    function hideLoading() {
        top.$("#grid").data("kendoGrid").dataSource.read();
        $("div[class='loader']").hide();
        $("#uploadExcel").css("filter", "contrast(100%)");
    }

    function upload_success() {
        $("div[class='loader']").hide();
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
        window.parent.show_stack_bottom_right('success', 'Upload file', 'Upload thành công.');

    }
    $(document).ready(function () {
        //if (screen.width > 1500) {
        //    top.winsetup("Upload file", 1440 * 0.35, screen.height * 0.09, true);
        //} else if (screen.width < 400) {
        //    top.winsetup("Upload file", screen.width * 0.8, screen.height * 0.1, true);
        //}
        //else {
        //    top.winsetup("Upload file", screen.width * 0.5, screen.height * 0.1, true);
        //}
        @*$(".deleteFile").click(function (e) {
            e.preventDefault();
            if (@ViewBag.pathFileName != null) {
                $("input[name='dataString']").val(@ViewBag.pathFileName);
            }

            setTimeout(function () {
                $("#delete").submit();
            }, 100);

        });*@

        top.winsetup("Upload file", 500, 160, true);
        if (screen.width < 576) {
            top.winsetup("Upload file", screen.width * 0.8, screen.height * 0.24, true);
        }
    });
</script>    