@model List<WebModels.PricingTable>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("ExportExcel", "ManagePriceList", FormMethod.Post, new { @class = "form-horizontal fix" }))
{
    @*<p>Bạn có muốn xuất file Excel?</p>*@
<div class="alert alert-info">
    @Html.Raw("Bạn có muốn xuất file Excel?") <br />
    @foreach (var item in Model)
    {
        @Html.Hidden("[" + Model.IndexOf(item) + "].RouteID", @item.RouteID)
        @Html.Hidden("[" + Model.IndexOf(item) + "].Price", @item.Price)
        @Html.Hidden("[" + Model.IndexOf(item) + "].ID", @item.ID)
        @Html.Hidden("[" + Model.IndexOf(item) + "].Note", @item.Note)
        @Html.Hidden("[" + Model.IndexOf(item) + "].SourcePartnerID", @item.SourcePartnerID)

        @Html.Hidden("[" + Model.IndexOf(item) + "].DestinationPartnerID", @item.DestinationPartnerID)

        @Html.Hidden("[" + Model.IndexOf(item) + "].WeightID", @item.WeightID)


    }
</div>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Xác nhận</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">

    function deletes_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }
    $(document).ready(function () {
        //if (screen.width > 1500) {
        //    top.winsetup("Xuất file Quản lý lộ trình", 1440 * 0.3, screen.height * 0.06, true);
        //} else if (screen.width < 400) {
        //    top.winsetup("Xuất file Quản lý lộ trình", screen.width * 0.8, screen.height * 0.1, true);
        //}
        //else {
        //    top.winsetup("Xuất file Quản lý lộ trình", screen.width * 0.3, screen.height * 0.08, true);
        //}
        top.winsetup("Xuất file", 400, 75, true);
        if (screen.width < 576) {
            top.winsetup("Xuất file", screen.width * 0.8, screen.height * 0.08, true);
        }
    });
</script>