@model List<WebModels.TransportActual>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("ExportExcel", "Enumeration", FormMethod.Post, new { @class = "form-horizontal fix" }))
{
    @*<p>Bạn có muốn xuất file Excel?</p>*@
    <div class="alert alert-info">
        @Html.Raw("Bạn có muốn xuất file Excel?") <br />
        @foreach (var item in Model)
        {
            @Html.Hidden("[" + Model.IndexOf(item) + "].RouteID", @item.RouteID)
            @Html.Hidden("[" + Model.IndexOf(item) + "].VehicleID", @item.VehicleID)
            @Html.Hidden("[" + Model.IndexOf(item) + "].ID", @item.ID)
            @Html.Hidden("[" + Model.IndexOf(item) + "].Note", @item.Note)
            @Html.Hidden("[" + Model.IndexOf(item) + "].ActualWeightID", @item.ActualWeightID)
            @Html.Hidden("[" + Model.IndexOf(item) + "].TrackingCode", @item.TrackingCode)
            @Html.Hidden("[" + Model.IndexOf(item) + "].ActualDate", @item.ActualDate)
            @Html.Hidden("[" + Model.IndexOf(item) + "].TripCount", @item.TripCount)
            @Html.Hidden("[" + Model.IndexOf(item) + "].Vehicle", @item.Vehicle)
            @Html.Hidden("[" + Model.IndexOf(item) + "].ActualWeight", @item.ActualWeight)
            @Html.Hidden("[" + Model.IndexOf(item) + "].Route", @item.Route)
            @Html.Hidden("[" + Model.IndexOf(item) + "].DestinationPartnerID", @item.DestinationPartnerID)
            @Html.Hidden("[" + Model.IndexOf(item) + "].SourcePartnerID", @item.SourcePartnerID)
        }
    </div>
    @Html.ValidationSummary(true)

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Xác nhận</button>
    </div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">

    function deletes_success() {
        top.$("#window").data("kendoWindow").close();
        top.$("#grid").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        //$(document).ready(function () {
        //    if (screen.width > 1500) {
        //        top.winsetup("Xuất file Bảng kê", 1440 * 0.3, screen.height * 0.06, true);
        //    } else if (screen.width < 400) {
        //        top.winsetup("Xuất file Bảng kê", screen.width * 0.8, screen.height * 0.1, true);
        //    }
        //    else {
        //        top.winsetup("Xuất file Bảng kê", screen.width * 0.5, screen.height * 0.08, true);
        //    }
        //});
        top.winsetup("Xuất file", 400, 75, true);
        if (screen.width < 576) {
            top.winsetup("Xuất file", screen.width * 0.8, screen.height * 0.08, true);
        }
    });
</script>