@model WebModels.Partner
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
@using (Html.BeginForm("Add", "ManagePartner", new { }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-change-car" }))
{
<div>
    <div class="flex">
        <div class="width-text-modal">
            @Html.LabelFor(m => m.PartnerName, new { @class = "control-label" })
            <span class="form-obligatory">*</span>
        </div>
        <div>
            @Html.TextBoxFor(m => m.PartnerName, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.PartnerName)
            @Html.ValidationSummary(true)
        </div>
    </div>
    <div class="flex">
        <div class="width-text-modal">
            @Html.LabelFor(m => m.Address, new { @class = "control-label" })
        </div>
        <div>
            @Html.TextBoxFor(m => m.Address, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Address)
        </div>
    </div>
    <div class="flex">
        <div class="width-text-modal">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        </div>
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="flex">
        <div class="width-text-modal">
            @Html.LabelFor(m => m.Mobile, new { @class = "control-label" })
        </div>
        <div>
            @Html.TextBoxFor(m => m.Mobile, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.Mobile)

        </div>
    </div>
    <div class="flex">
        <div class="width-text-modal">
            @Html.LabelFor(m => m.PartnerCode, new { @class = "control-label" })
        </div>
        <div>
            @Html.TextBoxFor(m => m.PartnerCode, new { @class = "input-block-level" })
            @Html.ValidationMessageFor(m => m.PartnerCode)
        </div>
    </div>
    <div class="row top-rows">
        <div class="col-lg-4 col-md-4 col-sm-4 col-4" onclick="exitWindow()">
            <div class="exit-car-form">Hủy</div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-8">
            <div>
                <input type="submit" class="btn text-14-700 save-change-car-form" value="Lưu">
            </div>
        </div>
    </div>
</div>
    @Html.AntiForgeryToken()
}
<script type="text/javascript">
    //if (screen.width > 1500) {
    //    top.winsetup("Thêm đối tác", 1440 * 0.4, screen.height * 0.22, true);
    //}
    //else if (screen.width < 450) {
    //    top.winsetup("Thêm đối tác", screen.width * 0.8, screen.height * 0.3, true);
    //}
    //else if (screen.width < 1025) {
    //    top.winsetup("Thêm đối tác", screen.width * 0.6, screen.height * 0.225, true);
    //}
    //else {
    //    top.winsetup("Thêm đối tác", screen.width * 0.4, screen.height * 0.37, true);
    //}
    top.winsetup("Thêm", 600, 350, true);
    if (screen.width < 576) {
        top.winsetup("Thêm", screen.width * 0.8, screen.height * 0.3, true);
    }

    function create_success() {
        top.winclose();
        top.$("#grid").data("kendoGrid").dataSource.read();
        window.parent.show_stack_bottom_right('success', 'Thêm đối tác', 'Thêm thành công.');

    }
    function exitWindow() {
        top.$("#window").data("kendoWindow").close();
    }
</script>